body {
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --double-xl: 1536px;

  background: linear-gradient(white, transparent),
    linear-gradient(45deg, #ff7171, 40%, #505fff);
  background-attachment: fixed;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-align: center;

  padding: 20px;
}

@media (min-width: 640px) {
  header, footer {
    padding: 0 5em;
  }
}

@media (min-width: 1024px) {
  header, footer {
    padding: 0 10em;
  }
}

@media (min-width: 1280px) {
  header, footer {
    padding: 0 20em;
  }
}